<template>
  <q-btn class='acbutton text-primary ' outline  size='md' @click='doClick'>
   <strong>{{ text }}</strong>
  </q-btn>
</template>

<script>
import {  defineComponent } from 'vue';

export default defineComponent({
  name: 'ACButtonCancel',
  props: {
    text: String

  },
  emits: ['action'],
  setup(props, { emit }) {


    function doClick() {
      emit('action');
    }

    return { doClick };
  }
});
</script>
<style lang='scss' scoped>
.acbutton{
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 50px;
  elevation: 0;
  //background: $primary;
  border-radius: 31.5px;
}
</style>
