<template>
  <q-card flat class='card-flat text-center wrap items-center items-end'>
    <img class='restaurant-logo' :src='serverhost+logo' @click='doViewMore'>
    <q-card-section>
      <span class='text-bold text-h4 text-primary'>{{ myTitle }}</span>
    </q-card-section>

    <q-card-section class='q-pt-none overflow-auto ' style='  overflow: hidden; text-overflow: ellipsis'>
      <slot>
      </slot>
    </q-card-section>
    <q-card-actions class='items-center vertical-bottom ellipsis'  >
      <q-btn flat round icon='star' class='text-primary' />
      <span class='text-weight-thin text-caption text-grey-7'>{{ recommendations }} recomendaciones</span>

      <q-btn flat text-color='primary' no-caps dense style='border-radius: 31px' icon='navigate_next'
             @click='doViewMore'>Ver más
      </q-btn>

    </q-card-actions>
  </q-card>

</template>

<script lang='ts'>
import { computed, defineComponent, toRef } from 'vue';
import { useRouter } from 'vue-router';
import { serverhost } from 'src/utils/serverhost';

export default defineComponent({
  name: 'ACCard',
  props: {
    title: String,
    content: String,
    imageUrl: String,
    recommendations: String,
    id: String,
    logo: String
  },
  setup(props, { emit }) {
    const myTitle = computed({
      get: () => props.title,
      set: (value) => emit('update:title', value)
    });
    const myContent = computed({
      get: () => props.content,
      set: (value) => emit('update:content', value)
    });
    const myImageUrl = computed({
      get: () => props.imageUrl,
      set: (value) => emit('update:imageUrl', value)
    });

    const id: any = toRef(props, 'id').value;
    const router = useRouter();

    function doViewMore() {
      void router.push({ name: 'view-more', params: { id } });
    }


    return {serverhost, myTitle, myContent, myImageUrl, doViewMore };
  }
})
;
</script>
<style lang='scss' scoped>

.card-flat {
  max-width: 250px;
  width: 100%;
  border: 1px solid #E6DAD8;
  border-radius: 12px;
  transition: all .4s ease-out 0s;

  &:hover {
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 77px -32px rgba(236, 88, 58, 0.58) !important;
    -moz-box-shadow: 0px 0px 77px -32px rgba(236, 88, 58, 0.58) !important;
    box-shadow: 0px 0px 77px -32px rgba(236, 88, 58, 0.58) !important;
  }
}


.restaurant-logo{
  height: 180px;
  max-width: 300px;
}
</style>
