<template>
  <q-page>

    <q-img class='img-landing absolute-top restaurant-logo' src='~assets/restaurantlandingimage.jpg' height='400'/>

    <div class='row justify-center'>
    <span class=' text-h2 absolute title text-white offset-1 '
          style=' text-shadow: 1px 2px #EC583A ; transform: rotate(-14deg);top: 200px'>Find your restaurant</span>
    </div>


    <div class='row' style='height: 550px'></div>
    <div class='row  items-stretch justify-evenly q-gutter-sm'>

      <template v-for='(restaurant,index) in restaurants' :key='index'>
        <transition-group appear
                          name='cards'
                          tag='div'
                          enter-active-class='animated backInRight'
                          leave-active-class='animated backOutUp'>

          <ACCard v-model:title='restaurant.name'
                  v-model:id='restaurant.id' recommendations='2' :key='index'
                  v-model:logo='restaurant.files[0].url'
                  class='restaurant-card'
          >
            {{ restaurant.description }}
          </ACCard>
        </transition-group>
      </template>


    </div>
  </q-page>
</template>

<script lang='ts'>
import { defineComponent, onMounted, ref } from 'vue';
import ACCard from 'components/card/ACCard.vue';
import { api } from 'boot/axios';
import { Commentary } from 'pages/RestaurantView.vue';

export interface myFile {
  id: string,
  url: string,
  description: string,
  createdAt: Date
}

export interface Restaurant {
  id?: string,
  name: string,
  description: string,
  files: Array<myFile>
  location: string,
  createdAt: Date,
  comments: Array<Commentary>
}

export default defineComponent({
  name: 'LandingPage',
  components: { ACCard },
  setup() {

    const restaurants = ref<Array<Restaurant>>();

    function getRestaurantsData() {

      void api.get('/restaurant').then(({ data }) => {
        console.log(data);
        restaurants.value = data;
      })
        .catch((err: any) => {
          console.log(err);
        });
    }

    onMounted(getRestaurantsData);
    return { restaurants };
  }
});
</script>
<style scoped>

.img-landing {
  width: 100%;
  max-width: 100%;
  height: 500px;
  position: absolute;
  z-index: -1;
}

.cards-enter-from .cards-leave-to {
  opacity: 0;
  transition: opacity 2s ease-in;
}

.cards-enter-active .cards-leave-active {
  transition: opacity 2s ease-out;
}

.restaurant-card{
  height: 100%;
  max-height: 800px;
}

</style>
