<template>
  <q-page class='q-gutter-sm q-ma-sm'>


    <div class=' full-width'>
      <q-img :src='serverhost+logo' class='logo'></q-img>

    </div>
    <div class='col'>
      <span class='text-h2 text-center text-bold restaurant-title'>{{ restaurant.name }}</span>

      <p class='text-grey-8 flex justify-start q-mt-md'>{{ restaurant.description }}</p>
    </div>
    <q-separator />


    <q-card flat bordered class='q-pa-md res-view-card' style='border-radius: 15px'>
      <span class='text-bold text-primary text-h6'>Imágenes</span>

      <q-card-section class='q-pa-none q-mt-md'>
        <q-carousel
          v-if='gallery'
          swipeable
          animated
          v-model='slide'
          thumbnails
          infinite
          :autoplay='true'
        >
          <template v-for='(image,index) in gallery' :key='index'>
            <q-carousel-slide class='full-width' :name='index' :img-src="serverhost+image.url"
                              style='max-height: 50px;height: 100%' />
          </template>
        </q-carousel>
      </q-card-section>
    </q-card>
    <q-card flat bordered class='q-pa-md res-view-card' style='border-radius: 15px'>
      <span class='text-bold text-primary text-h6'>Comentarios</span>
      <br>
      <template v-for='(comment, index) in restaurant.comments' :key='index'>
        <q-card-section horizontal class='row items-center q-pt-md justify-start'>
          <q-avatar class='col ' rounded>
            <img src='https://uctlanguagecentre.com/wp-content/uploads/2020/05/avatar.png'>
          </q-avatar>
          <q-card class='commentary col-10'>
            <q-card-section>
              <span><strong>{{ comment.user }} </strong> {{ moment(new Date(comment.createdAt)).fromNow() }}</span>
              <p style='max-height: 70px; text-overflow: clip;overflow: auto;' class='q-mb-none'>
                {{ comment.commentary }}
              </p>
            </q-card-section>
          </q-card>
        </q-card-section>
      </template>

      <q-card-section class='row justify-evenly'>
        <ACButton flat text='Comentar' @click='showDialog' />

      </q-card-section>

      <CommentaryDialog v-model:show='showCommentaryDialog' v-model:load='reload' />
    </q-card>
  </q-page>
</template>

<script lang='ts'>
import { defineComponent, onMounted, reactive, ref, watch } from 'vue';
import { api } from 'boot/axios';
import { useRoute } from 'vue-router';
import { myFile, Restaurant } from 'pages/LandingPage.vue';
import ACButton from 'components/buttons/ACButton.vue';
import CommentaryDialog from 'components/dialog/CommentaryDialog.vue';
import moment from 'moment/moment';
import { serverhost } from 'src/utils/serverhost';

export interface Commentary {
  user: string,
  commentary: string,
  createdAt: Date
}

export default defineComponent({
  name: 'RestaurantView',
  components: { CommentaryDialog, ACButton },
  setup(props) {

    const route = useRoute();
    const showCommentaryDialog = ref(false);
    const logo = ref('');
    const slide = ref(1);
    const reload = ref(false);
    let gal = new Array<myFile>();
    const gallery = ref<Array<any>>(gal);
    let restaurant = reactive<Restaurant>({
      id: '',
      description: '',
      createdAt: new Date,
      location: '',
      files: new Array<myFile>(),
      name: '',
      comments: new Array<Commentary>()
    });


    function getRestaurantData() {
      void api.get(`/restaurant/${route.params?.id}/get-data`)
        .then(({ data }) => {
          Object.assign(restaurant, data);
          logo.value = restaurant.files[0].url;
          gallery.value = restaurant.files.map((value, index, array) => {
            if (index == 0)
              delete array[index];
            return value;
          });
          console.log(gallery.value);
        })
        .catch((err) => {
          console.log(err);
        });

    }

    function showDialog() {
      showCommentaryDialog.value = true;
    }

    watch(reload, (old, value) => {
      getRestaurantData();
    });
    onMounted(getRestaurantData);

    return { serverhost,gallery, slide, logo, reload, moment, showDialog, restaurant, showCommentaryDialog };
  }
});
</script>
<style lang='scss' scoped>
.res-view-card {
  background-color: $background;
}

.commentary {
  border-radius: 31px !important;

  &:hover {
    border-radius: 31px;
    transition-duration: 1s;
    transform: scale(1.02);
    box-shadow: 0 0 77px -32px rgba(236, 88, 58, 0.58) !important;
  }
}

.logo {
  border-radius: 12px;
  height: 100%;
  //max-width: 450px;
  max-height: 450px;

  &:hover {
    -webkit-box-shadow: 0px 0px 77px -32px rgba(236, 88, 58, 0.58) !important;
    -moz-box-shadow: 0px 0px 77px -32px rgba(236, 88, 58, 0.58) !important;
    box-shadow: 0px 0px 77px -32px rgba(236, 88, 58, 0.58) !important;

  }
}

</style>
