<template>
  <q-carousel
    swipeable
    animated
    v-model='slide'
    thumbnails
    infinite
  >
    <template v-for='(image,index) in pImageArray' :key='index'>
      <q-carousel-slide :name='1' :img-src="serverhost+image.url" />
    </template>
  </q-carousel>
</template>

<script lang='ts'>
import { computed, defineComponent, ref, watch } from 'vue';
import { serverhost } from 'src/utils/serverhost';

export default defineComponent({
  name: 'GalleryCarousel',
  props: {
    imageArray: Array
  },
  setup(props, { emit }) {

    const pImageArray = computed({
      get: () => props.imageArray,
      set: (value) => emit('update:imageArray', value)
    });

    watch(pImageArray, (old, value) => {
      console.log('watch');
      console.log(value);
    });
    const slide = ref('');

    return { serverhost,slide, pImageArray };
  }
});
</script>
