// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: 'Mitr', sans-serif;
}

h2 {

  font-family: 'Roboto', sans-serif;
}

h1 {

  font-family: 'Roboto', sans-serif;
}

:root {
  background-color: $background;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.title {
  font-family: 'Pacifico', cursive;
  color: $primary;
}

.toolbar-layout {
  color: #EC583A;
  cursor: pointer;
}
