<template>
  <q-dialog v-model='propShow' transition-show='rotate' transition-hide='rotate'>
    <q-card class='commentary-dialog'>
      <q-card-section>
        <div class='text-h5 commentary-title'>Ingresar un nuevo comentario</div>
      </q-card-section>

      <q-card-section class='q-pt-none'>

        <q-input model-value='' label='Nombre' v-model='comment.user' autogrow outlined class='commentary-input' />
        <br>
        <q-input model-value='' label='Commentario' v-model='comment.commentary' autogrow outlined
                 class='commentary-input' />
      </q-card-section>

      <q-card-actions align='center' class='row justify-between'>
        <ACButton text='Guardar' @action='createCommentary' />
        <ACButtonCancel text='Cancelar' @action='closeDialog' />
        <CheckAnimate />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <CheckAnimate v-model:show='showCheck' />
</template>

<script lang='ts'>
import { computed, defineComponent, reactive, ref } from 'vue';
import ACButton from 'components/buttons/ACButton.vue';
import ACButtonCancel from 'components/buttons/ACButtonCancel.vue';
import { api } from 'boot/axios';
import { useRoute } from 'vue-router';
import CheckAnimate from 'components/animated/CheckAnimate.vue';

interface Comment {
  id?: string,
  commentary: string,
  user: string,
  restaurant: string
}

export default defineComponent({
  name: 'CommentaryDialog',
  components: { CheckAnimate, ACButtonCancel, ACButton },
  props: {
    show: Boolean,
    load: { type: Boolean, default: false }

  },
  setup(props, { emit }) {
    const propShow = computed({
      get: () => props.show,
      set: (value) => emit('update:show', value)
    });
    const comment = reactive<Comment>({
      id: '',
      commentary: '',
      restaurant: '',
      user: ''
    });

    const route = useRoute();
    const showCheck = ref(false);
    const loadData = computed({
      get: () => props.load,
      set: (value) => emit('update:load', value)
    });

    function createCommentary() {


      showCheck.value = true;
      comment.restaurant = String(route.params.id);
      void api.post('/restaurant/comment', { ...comment })
        .then(({ data }) => {
          console.log(data);
          setTimeout(() => {
            showCheck.value = false;
            propShow.value = false;
            loadData.value = true;
          }, 1300);
        })
        .catch((err) => {
          console.log(err);
        });
    }

    function closeDialog() {
      propShow.value = false;
    }

    return { showCheck, closeDialog, comment, propShow, createCommentary };
  }
});
</script>
<style scoped>
.commentary-dialog {
  border-radius: 15px;
  max-width: 450px;
  width: 100%;
  opacity: 90%;
}

.commentary-title {

}

.commentary-input {
  border-radius: 20px !important;
}
</style>
