<template>
  <q-layout view='lHh Lpr lFf'>
    <q-header>
      <q-toolbar class='bg-white '>

        <q-avatar>
          <img src='~assets/img.png' width='50px' style='color: whitesmoke'>
        </q-avatar>
        <q-toolbar-title class='text-bold  toolbar-layout' @click='()=>{$router.push({name:"home"})}'>
          Tribal App
        </q-toolbar-title>

      </q-toolbar>
    </q-header>


    <q-page-container class='q-mb-md'>
      <!--      <transition appear-->
      <!--                  name='profile'-->
      <!--                  enter-active-class='animated backInRight'-->
      <!--                  leave-active-class='animated backOutLeft'>-->

      <router-view />
      <!--      </transition>-->
    </q-page-container>

    <q-footer>
      <span class='text-caption'>
        Realizado por <a style='text-decoration-line: none'  class='text-bold text-white' href='https://www.linkedin.com/in/alberto-camilo-rodr%C3%ADguez-vizcarra-67a967148/'> Alberto Camilo Rodriguez Vizcarra</a>
      </span>
    </q-footer>
  </q-layout>
</template>

<script lang='ts'>
import EssentialLink from 'components/EssentialLink.vue';
import { defineComponent, ref } from 'vue';

const linksList = [
  {
    title: 'Docs',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'https://quasar.dev'
  },
  {
    title: 'Github',
    caption: 'github.com/quasarframework',
    icon: 'code',
    link: 'https://github.com/quasarframework'
  },
  {
    title: 'Discord Chat Channel',
    caption: 'chat.quasar.dev',
    icon: 'chat',
    link: 'https://chat.quasar.dev'
  },
  {
    title: 'Forum',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: 'https://forum.quasar.dev'
  },
  {
    title: 'Twitter',
    caption: '@quasarframework',
    icon: 'rss_feed',
    link: 'https://twitter.quasar.dev'
  },
  {
    title: 'Facebook',
    caption: '@QuasarFramework',
    icon: 'public',
    link: 'https://facebook.quasar.dev'
  },
  {
    title: 'Quasar Awesome',
    caption: 'Community Quasar projects',
    icon: 'favorite',
    link: 'https://awesome.quasar.dev'
  }
];

export default defineComponent({
  name: 'MainLayout',

  components: {
  },

  setup() {
    const leftDrawerOpen = ref(false);

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      }
    };
  }
});
</script>
